project/plugins/project
project/boot
target/
.cache
.classpath
.project
.settings
.bloop/
.metals/
.vscode/
.idea/
.bloop/
project/.bloop/
project/project/
project/project/project/
.bsp/
*.class
*.log
